* {
    /* 清除内边距、外边距 */
    margin: 0;
    padding: 0;
    /* 盒子大小为 width，padding和border不会撑大盒子 */
    box-sizing: border-box;
}

li {
    /* 清除li的列表样式 */
    list-style: none;
}

img {
    /* 清除图片边框，照顾低版本浏览器，如果图片外面包含了链接会有边框问题 */
    border: 0;
    /* 清除图片底侧有空白缝隙的问题 */
    vertical-align: middle;
}

/* 斜体的文字不倾斜 */
em,
i {
    font-style: normal
}

/* 当鼠标经过button时，鼠标变成小手形状 */
button {
    cursor: pointer;
    background-color: transparent;
}

a {
    color: #fff;
    /* 无下划线 */
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
}

body {
    /* css3抗锯齿形，让文字显示的更加清晰 */
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    /* \5B8B\4F53  宋体 避免浏览器解析CSS代码时候出现乱码的问题 */
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    color: #000;
}

/* 版心 */
.com {
    width: 952px;
    margin: 0 auto;
}

/* 左浮动 */
.fl {
    float: left;
}

/* 右浮动 */
.fr {
    float: right;
}

.clearfix {
    overflow: hidden;
    zoom: 1;
}

/* 头部 */
header {
    /* 背景色 */
    background-color: #333;
    /* 让字体垂直居中 */
    line-height: 77px;
}

#header {
    position: relative;
}

/* logo */
.logo {
    font-size: 28px;
    color: #fff;
}

.tr {
    position: absolute;
    top: -20px;
    right: 0;
}

.tr li {
    display: inline;
    margin-right: 10px;
}

.tr li a {
    text-decoration: underline;
}

/* 大导航 */
.banner {
    height: 300px;
    background-color: #66bb33;
}

.banner .menu_tab {
    margin-top: 240px;
}

.banner .menu_tab li {
    display: inline;
}

.banner .menu_tab .list {
    display: inline-block;
    width: 30px;
    line-height: 36px;
    border: 1px solid #000;
    background-color: #b2dd99;
    color: #56813d;
    font-size: 16px;
    text-align: center;
    vertical-align: bottom;
}

.banner .menu_tab .current {
    line-height: 50px;
    background-color: #e0f1d6;
}


/* 主要区域 */
.main {
    margin: 20px 0;
}

/* 小导航菜单 */
.main .menu {
    border-bottom: 1px solid #ccc;
}

.main .menu ul li {
    line-height: 52px;
    padding: 0 30px;
    /* 盒子向左移动，左边框正好压住上一个盒子的右边框，使两个边框合二为一 */
    margin-left: -1px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-bottom: transparent;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    background-color: #eee;
    text-align: center;
}

.main .menu ul .current {
    background-color: #fff;
}

/* 内容 */
.main .home_list {
    display: flex;
    flex-wrap: wrap;
    width: 962px;
    margin-left: -10px;
}

.main .home_list .box {
    line-height: 176px;
    margin-top: 8px;
    margin-left: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.box1,
.box2 {
    width: 325px;
}

.box3 {
    width: 280px;
}

.box4,
.box5,
.box6,
.box7 {
    width: 230px;
}

.box8,
.box9,
.box10 {
    width: 310px;
}

.profile_list {
    display: none;
}

.about_list {
    display: none;
}

/* 尾部 */
footer {
    height: 200px;
    padding-top: 20px;
    background-color: #666;
    font-size: 16px;
    text-align: center;
}
